{% extends "layout.html" %}
{% block content %}
<h2>Make a Game!</h2>
<div class="content-section">
    <form method="POST" action="/create_game">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Build your own Jeopardy game! There are 6 categories with 5 questions each.</legend>
            <div class="form-group">
                {{ form.category_1.label(class="form-control-label") }}

                {% if form.category_1.errors %}
                    {{ form.category_1(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.category_1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.category_1(class="form-control form=control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.category_2.label(class="form-control-label") }}

                {% if form.category_2.errors %}
                    {{ form.category_2(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.category_2.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.category_2(class="form-control form=control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.category_3.label(class="form-control-label") }}

                {% if form.category_3.errors %}
                    {{ form.category_3(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.category_3.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.category_3(class="form-control form=control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form=control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}

                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form=control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock content %}