{% extends "layout.html" %}
{% block content %}
<h1>Jeopardy</h1>
<h4>About</h4>
<p>Welcome to the (early stages) of the Jeopardy simulator. Here you will be able to create Jeopardy games to play with your friends
    or classmates, depending on the need. Create an account to have easy access to your created games, or browse the database for 
    premade games to play!
</p>
<h4>How to play:</h4>
<p>Split your group up into teams. This app will support up to 5 groups playing. Select a puzzle, click play, then enter how many teams
    you want to play. Then it works like regular jeopardy, or backwards if you prefer, as the maker of the puzzle has the freedom to design
    it as they wish!
</p>
{% endblock content %}